{% extends 'admin/admin_sidebar.html' %}
{% block main %}

<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 4px solid orange;">View Donor Details</h5>
        <div class="container-fluid">
            <table class="table table-hover">
                <tr align="center">
                    <td colspan="4" style="font-size: 20px; color: red;">Donor Details</td>
                </tr>
                <tr>
                    <th>Donor Name</th>
                    <td>{{donor.user.first_name}} {{donor.user.last_name}}</td>
                    <th>Donor Contact Number</th>
                    <td>{{donor.contact}}</td>
                </tr>

                <tr>
                    <th>Donor Email ID</th>
                    <td>{{donor.user.username}}</td>
                    <th>Donor Image</th>
                    <td><img src="{{donor.userpic.url}}" height="50px" width="50px" alt=""></td>
                </tr>

                <tr align="center">
                    <td colspan="4" style="font-size: 20px; color: red;">
                    <a href="{% url 'delete_donor' donor.user.id%}" onclick="return confirm('Are you sure want to delete Donor')" >Delete</a>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>


{% endblock %}